.footer {
    background-color: #114D46;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .footer-content {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      width: 100%;
      
  
      .footer-left {
        display: flex;
        flex-direction: column;
        margin: 0 6rem;
  
        .logo-and-title {
          display: flex;
          align-items: center;
  
          img {
            width: 20px;
            height: auto;
            margin-right: 10px; 
          }
  
          .footer-title {
            font-weight: bold;
          }
        }
  
        .additional-text {
          margin-top: 10px; 
        }
      }
  
      .footer-right {
        margin: 0 6rem;
        .back-to-top {
          color: white;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }