.header {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;

  padding-bottom: 1rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);

  .header-logo,
  .header-login {
    margin: 0 7rem;
    display: flex;
    align-items: center;

    .logo-text {
      margin-left: 10px;
    }
  }

  .header-login {
    width: 40px;
    height: 40px;
    max-width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8eadb;

    svg {
      width: 20px;
      height: 20px;
      fill: currentColor;
    }
  }

  .header-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-weight: 400;
    color: #232f44;

    a {
      margin: 0 15px;
      position: relative;

      &:hover {
        color: #afbea0;
      }

      &.active {
        color: #6da830;

        &::before {
          content: "";
          position: absolute;
          top: -10px;
          left: 0;
          right: 0;
          height: 2px;
          background-color: #6da830;
        }
      }
    }
  }

  .menu-icon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: none;
    align-items: center;
    cursor: pointer;
  }

  @media (max-width: 1158px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .header-logo,
    .header-login {
      margin: 0;
      margin-left: 10px;
    }

    .header-links,
    .header-login {
      display: none;
      margin-top: 10px;
      margin-bottom: 10px;

      a {
        margin: 2px 12px;

        &.active {
          color: #6da830;

          &::before {
            content: none;
          }
        }
      }
    }

    &.menu-open {
      flex-direction: column;
      align-items: flex-start;

      .header-links,
      .header-login {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

      .header-login {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin: 0.5rem 1rem;
        justify-content: center;
        align-items: center;
      }
    }

    .menu-icon {
      display: flex;
    }
  }
}
