@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  height: 400px;
  width: 100%;
  background: linear-gradient(#e2f5e3, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mask-star-filled {
  -webkit-mask: url("/star.svg") no-repeat center / contain;
  mask: url("/star.svg") no-repeat center / contain;
}

.mask-star-empty {
  -webkit-mask: url("/star.svg") no-repeat center / contain;
  mask: url("/star.svg") no-repeat center / contain;
  background-color: #d1d5db;
}
